body{
  background-color: #333;
}
*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid {}
body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
}
header {
    background-color: rgba(255, 255, 255, 0);
}
section {
    height: 500px;
    background-color: #8a8a8a;
}
.toggle_mnu {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 100;
    border: none;
    right: 20px;
    top: 20px;
}
.toggle_mnu span {
    display: block;
}
.sandwich {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
}
.sw-topper {
    position: relative;
    top: 0;
    width: 28px;
    height: 3px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    display: block;
}
.sw-bottom {
    position: relative;
    width: 28px;
    height: 3px;
    top: 6.6px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}
.sw-footer {
    position: relative;
    width: 28px;
    height: 3px;
    top: 13.5px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sandwich.active .sw-bottom {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.toggle_mnu {
    background-color: rgba(0, 0, 0, 0);
}
.top_mnu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 50;
    right: 0;
    top: 0;
    display: none;
}
.top_mnu ul, .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.top_mnu ul {
    margin-top: 180px;
    text-align: center;
    -webkit-animation-duration: 0.01s;
    animation-duration: 0.01s;
}
.top_mnu ul li:nth-child(1) a {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.top_mnu ul li:nth-child(2) a {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.top_mnu ul li:nth-child(3) a {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.top_mnu ul li:nth-child(4) a {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.top_mnu ul li a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
    position: relative;
    height: 60px;
    outline: none;
}
.top_mnu ul a span {
    display: block;
    position: relative;
    top: -40px;
    left: 0;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.top_mnu ul a span:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.left_gradient{
}
.div_gradient{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(22, 31, 60) 10%,rgba(241, 54, 54, 0)60%, rgba(241, 54, 54, 0)100%);
}
label{
  color: #fff;
}
#slider-vertical{
  margin: 30px;
  height: 550px;
  float: left;
}
.between{
  height: 10px;
  background-color: #333;
}

 /*второй контейнер*/
.section2_div_h2_p {
    float: right;
    width: 23%;
    margin-right: 3%;
    margin-top: 6%;
}
.section2_h2 {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 36px;
    line-height: 50px;
    border: 3px solid rgba(255, 255, 255);
    background-color: rgba(22, 31, 60, 0.5);
    padding: 10%;
    border-radius: 5px;
}
.section2_p_right{
  font-size: 0.8em;
  text-align: center;
}
.section2_p{
  margin-top: 3%;
}
 .chose_us{
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  border-bottom: 3px solid #fff;
  width: 40%;
  margin-left: 30%;
  margin-top: 7%;
}
.chose_us_p{
  color: rgba(255, 255, 255, 0.57);
  text-align: center;
}
.why_plates{
  margin: 5%;
  background-color: rgba(255, 255, 255, 0.25);
  width: 300px;
  height: 200px;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
  top: 100px;
	float: left;
	overflow: hidden;
	margin: 10px 1.5%;
	/*min-width: 300px;*/
	max-width: 480px;
	max-height: 300px;
	width: 30%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 10% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	padding: 0.1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.4;
}

/*third section*/
.text_first,
.text_second{
  width: 30%;
  color: #fff;
  margin-top: 6%;
}
.span_klenki{
  color: #fff;
}
/*call back form*/

.feedback_form{
  margin-top: 35%;
  width: 30%;
  margin-left: 35%;
  text-align: center;
}
.pop_form input[type=text]{
	display: block;
	width: 100%;
	line-height: 20px;
	margin: 0 auto 12px;
	border: 2px solid #999;
}
.pop_form .button{
  text-transform: uppercase;
	margin: auto;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  border: 2px solid #999;
  background-color: rgba(59, 98, 115, 0);
  color: #999;
  font-weight: 600;
}
.pop_form .button:hover{
  background-color: rgba(255, 255, 255, 0.3)!important;
  color:black;
}
.pop_form p{
	margin: 10px auto 15px;
	text-align: center;
	text-transform: uppercase;
  color: #999;
}
.form-control{
  background-color: rgba(255, 255, 255, 0)!important;
}
.social_footer{
  text-align: center;
  height: 85px;
  line-height: 85px;
}
.social_footer a{
  color: #999;
}
.fa{
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.last_block{
  height: 0;
}
