/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .effect-ming h2{
    font-size: 1.6em;
  }
  .effect-ming p{
    font-size: 0.8em;
  }
  .section2_h2{
    font-size: 2em;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.grid figure{
  float: none;
  top: -5px;
  text-align: center;
  margin: 10px auto;
  height: 120px;
}
.effect-ming h2{
  font-size: 1em;
}
.effect-ming p{
  font-size: 0.5em;
}
.chose_us{
  margin-top: 1%;
  font-size: 30px;
}
.section2_h2{
  font-size: 1.2em;
}
.section2_div_h2_p{
  width: 40%;
}
figure.effect-ming figcaption::before{
  top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.grid figure{
  width: 50%;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
